@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

:root {
  --light-bg-color: #fec805;
  --dark-bg--color: #eca306;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.left {
  width: 33vw;
  height: 100vh;
}

.right {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100vh;
  width: 67vw;
}

.bg-image {
  background: no-repeat  url(./images/sunflower.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.logo-bg {
  background-color: rgba(0,0,0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  position:relative;
  top: 15%;
}

.logo-text {
  font-family: 'Orbitron', sans-serif;
  font-size: 75px;
}

.description, .bottom {
  background-color: var(--light-bg-color);
  flex: 1;
}

.description {
  display: flex;
}

.form-area, button {
  background-color: var(--dark-bg--color);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 30px;
}

form > div {
  display: flex;
  flex-direction: column;
}

button {
  border: 1px solid var(--dark-bg--color);
  padding: 8px;
  border-radius: 10px;
  margin: 10px;
}

.text-container {
  margin: auto;
}

p {
  margin: 8px;
}

label, p, button {
  font-size: 16px;
}

input {
  border-radius: 10px;
  font-size: 16px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 0px;
}

input:invalid {
  border-color: red;
  border-width: 3px;
  background-color: hsla(1, 100%, 50%, 0.5);
}

h1, h2, p, form, button {
  margin-left: 30px;
}
